<div class="container-fluid">
    <h2>Grupo A {{groupA.id}}</h2>
    <div layout="row">
        <p flex>Hambre: {{groupA.stats.hambre}}</p>
        <p flex>Cansancio: {{groupA.stats.cansancio}}</p>
        <p flex>Sigilo: {{groupA.stats.sigilo}}</p>
        <p flex>Percepción: {{groupA.stats.percepcion}}</p>
        <p flex>Miedo: {{groupA.stats.miedo}}</p>
    </div>
    <div layout="row">
        <div ng-repeat="merc in groupA.mercs" flex="20">
            <p><strong>Nombre: {{merc.name}} [{{merc.nivel}}]</strong></p>
            <p><em>Fuerza</em>: {{merc.fuerza}}</p>
            <p><em>Constitución</em>: {{merc.constitucion}}</p>
            <p><em>Agilidad</em>: {{merc.agilidad}}</p>
            <p><em>Conocimiento</em>: {{merc.conocimiento}}</p>
            <p>Daño: {{merc.dano}}</p>
            <p>Reducción: {{merc.reduccion}}</p>
            <p>Vida: {{merc.vida}}</p>
            <p>Reflejos: {{merc.reflejos}}</p>
            <p>Sigilo: {{merc.sigilo}}</p>
            <p>Percepción: {{merc.percepcion}}</p>
            <p>R.Venenos: {{merc.veneno}}</p>
            <p>Hambre: {{merc.hambre}}</p>
            <p>Cansancio: {{merc.cansancio}}</p>
            <p>Curación: {{merc.curacion}}</p>
            <p>Especialidad: {{merc.especialidad}}</p>
        </div>
    </div>

    <h2>Grupo B {{groupB.id}}</h2>
    <div layout="row">
        <p flex>Hambre: {{groupB.stats.hambre}}</p>
        <p flex>Cansancio: {{groupB.stats.cansancio}}</p>
        <p flex>Sigilo: {{groupB.stats.sigilo}}</p>
        <p flex>Percepción: {{groupB.stats.percepcion}}</p>
        <p flex>Miedo: {{groupB.stats.miedo}}</p>
    </div>
    <div layout="row">
        <div ng-repeat="merc in groupB.mercs" flex="20">
            <p><strong>Nombre: {{merc.name}} [{{merc.nivel}}]</strong></p>
            <p><em>Fuerza</em>: {{merc.fuerza}}</p>
            <p><em>Constitución</em>: {{merc.constitucion}}</p>
            <p><em>Agilidad</em>: {{merc.agilidad}}</p>
            <p><em>Conocimiento</em>: {{merc.conocimiento}}</p>
            <p>Daño: {{merc.dano}}</p>
            <p>Reducción: {{merc.reduccion}}</p>
            <p>Vida: {{merc.vida}}</p>
            <p>Reflejos: {{merc.reflejos}}</p>
            <p>Sigilo: {{merc.sigilo}}</p>
            <p>Percepción: {{merc.percepcion}}</p>
            <p>R.Venenos: {{merc.veneno}}</p>
            <p>Hambre: {{merc.hambre}}</p>
            <p>Cansancio: {{merc.cansancio}}</p>
            <p>Curación: {{merc.curacion}}</p>
            <p>Especialidad: {{merc.especialidad}}</p>
        </div>
    </div>
</div>

<p>
    <md-button ng-click="start()" class="md-raised">Empezar combate</md-button>
</p>

<div>
    <p ng-repeat="entry in history track by $index">
        {{entry}}
    </p>
</div>
